.container
{
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:right;
  height: 50px;
}
ul{
  list-style-type: none;
}
li{
  display: inline;
  padding: 10px;
}

@media screen and (max-width:768px){
  .container{
    flex-direction: column;
    width: auto;
    height: auto;
  }
}